




 .fl-node-5c73def40725d > .fl-row-content-wrap {
	margin-bottom:-40px;
}
 .fl-node-5c73def40725d > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}





.fl-node-5cb7091b68ce2 > .fl-row-content-wrap {
	background-color: #9e0e24;
}
 .fl-node-5cb7091b68ce2 > .fl-row-content-wrap {
	padding-top:10px;
	padding-bottom:10px;
}





.fl-node-5c73e73ca2c39 > .fl-row-content-wrap {
	background-color: #FFF9F2;
}
 .fl-node-5c73e73ca2c39 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}





.fl-node-5c73e6b5bdd9e > .fl-row-content-wrap {
	background-color: #fff9f2;
}
 .fl-node-5c73e6b5bdd9e > .fl-row-content-wrap {
	padding-top:0px;
	padding-bottom:50px;
}
@media ( max-width: 992px ) {
 .fl-node-5c73e6b5bdd9e.fl-row > .fl-row-content-wrap {
	padding-bottom:20px;
}
}





 .fl-node-5ca4ca471a680 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}





.fl-node-5c73f461f2725 > .fl-row-content-wrap {
	background-color: #fff9f2;
}
 .fl-node-5c73f461f2725 > .fl-row-content-wrap {
	padding-top:40px;
	padding-bottom:40px;
}





 .fl-node-5c73f54c384d6 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}





.fl-node-5c73f3bc8252a > .fl-row-content-wrap {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
.fl-node-5c73f3bc8252a.fl-row-fixed-width, .fl-node-5c73f3bc8252a .fl-row-fixed-width {
	max-width: 1200px;
}
 .fl-node-5c73f3bc8252a > .fl-row-content-wrap {
	padding-top:40px;
	padding-bottom:40px;
}





.fl-node-5c94ffe0ddc87 > .fl-row-content-wrap {
	background-image: url(https://cincinnaticarpetandflooring.com/wp-content/uploads/2019/03/Group-4.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	min-height: 500px;
}





 .fl-node-5c74fb1189a8e > .fl-row-content-wrap {
	padding-top:80px;
	padding-bottom:80px;
}




.fl-node-5c73def40eb07 {
	width: 100%;
}




.fl-node-5cb7091b68cde {
	width: 80%;
}




.fl-node-5cb7091b68cdf {
	width: 20%;
}




.fl-node-5c73e73ca7650 {
	width: 100%;
}




.fl-node-5c73e6b5bdd99 {
	width: 53.36%;
}
@media(max-width: 992px) {
	.fl-builder-content .fl-node-5c73e6b5bdd99 {
		width: 100% !important;
		max-width: none;
		-webkit-box-flex: 0 1 auto;
		-moz-box-flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
}




.fl-node-5c73e6b5bdd9a {
	width: 46.64%;
}
@media(max-width: 992px) {
	.fl-builder-content .fl-node-5c73e6b5bdd9a {
		width: 100% !important;
		max-width: none;
		-webkit-box-flex: 0 1 auto;
		-moz-box-flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
}




.fl-node-5ca4ca2c4ca1d {
	width: 100%;
}




.fl-node-5c73f46206cd5 {
	width: 33.333%;
}
@media(max-width: 992px) {
	.fl-builder-content .fl-node-5c73f46206cd5 {
		width: 48% !important;
		max-width: none;
		-webkit-box-flex: 0 1 auto;
		-moz-box-flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-5c73f46206cd5 {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}
@media ( max-width: 768px ) {
 .fl-node-5c73f46206cd5.fl-col > .fl-col-content {
	padding-right:20px;
	padding-left:20px;
}
}




.fl-node-5c73f46206cda {
	width: 33.333%;
}
@media(max-width: 992px) {
	.fl-builder-content .fl-node-5c73f46206cda {
		width: 50% !important;
		max-width: none;
		-webkit-box-flex: 0 1 auto;
		-moz-box-flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-5c73f46206cda {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}
@media ( max-width: 768px ) {
 .fl-node-5c73f46206cda.fl-col > .fl-col-content {
	padding-top:20px;
	padding-right:20px;
	padding-bottom:20px;
	padding-left:20px;
}
}




.fl-node-5ca4b527cb99e {
	width: 33.334%;
}




.fl-node-5c73f54c416d9 {
	width: 100%;
}




.fl-node-5d010a687d304 {
	width: 14.28%;
}




.fl-node-5c73f3bc82520 {
	width: 14.28%;
}
.fl-node-5c73f3bc82520 > .fl-col-content {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
 .fl-node-5c73f3bc82520 > .fl-col-content {
	padding-top:0px;
	padding-bottom:0px;
}




.fl-node-5c94fe9c690d3 {
	width: 14.28%;
}
.fl-node-5c94fe9c690d3 > .fl-col-content {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
 .fl-node-5c94fe9c690d3 > .fl-col-content {
	padding-top:0px;
	padding-bottom:0px;
}




.fl-node-5c94fe9b69994 {
	width: 14.28%;
}
.fl-node-5c94fe9b69994 > .fl-col-content {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
 .fl-node-5c94fe9b69994 > .fl-col-content {
	padding-top:0px;
	padding-bottom:0px;
}




.fl-node-5c73f3bc82522 {
	width: 14.28%;
}
.fl-node-5c73f3bc82522 > .fl-col-content {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
 .fl-node-5c73f3bc82522 > .fl-col-content {
	padding-top:0px;
}




.fl-node-5c73f3bc82523 {
	width: 14.28%;
}




.fl-node-5d010a6502bba {
	width: 14.28%;
}




.fl-node-5c94ffe0edacb {
	width: 59.09%;
}




.fl-node-5c95004c9aba8 {
	width: 40.91%;
}




.fl-node-5c74fb1189a89 {
	width: 55%;
}
.fl-node-5c74fb1189a89 > .fl-col-content {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #dedddd;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
 .fl-node-5c74fb1189a89 > .fl-col-content {
	padding-right:40px;
}




.fl-node-5c74fb1189a8a {
	width: 45%;
}
 .fl-node-5c74fb1189a8a > .fl-col-content {
	padding-top:20px;
	padding-right:40px;
	padding-bottom:20px;
	padding-left:40px;
}
 .fl-node-5c73def407197 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5cb7091b68ce0 > .fl-module-content {
	margin-top:28px;
}
@media (max-width: 768px) { .fl-node-5cb7091b68ce0 > .fl-module-content { margin-top:20px; } } .fl-node-5cb7091b68ce1 > .fl-module-content {
	margin-top:15px;
}
 .fl-node-5c73e73ca2696 > .fl-module-content {
	margin-top:40px;
	margin-bottom:0px;
}
@media (max-width: 768px) { .fl-node-5c73e73ca2696 > .fl-module-content { margin-top:20px; } } .fl-node-5c73e785341b9 > .fl-module-content {
	margin-top:0px;
}
 .fl-node-5ca4ca2c4ca1e > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5c753d663458b > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5c753d7677c84 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5c753d910364f > .fl-module-content {
	margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	margin-left:0px;
}
 .fl-node-5c9503769914a > .fl-module-content {
	margin-left:0px;
}
 .fl-node-5c73f54c37ad5 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d010a6205520 > .fl-module-content {
	margin-top:30px;
}
@media (max-width: 768px) { .fl-node-5d010a6205520 > .fl-module-content { margin-top:20px; } } .fl-node-5c94febd33a78 > .fl-module-content {
	margin-top:30px;
}
@media (max-width: 768px) { .fl-node-5c94febd33a78 > .fl-module-content { margin-top:20px; } } .fl-node-5c94feb6e5a26 > .fl-module-content {
	margin-top:30px;
}
@media (max-width: 768px) { .fl-node-5c94feb6e5a26 > .fl-module-content { margin-top:20px; } } .fl-node-5c94feb32364e > .fl-module-content {
	margin-top:30px;
}
@media (max-width: 768px) { .fl-node-5c94feb32364e > .fl-module-content { margin-top:20px; } } .fl-node-5c73f3bc82526 > .fl-module-content {
	margin-top:30px;
}
@media (max-width: 768px) { .fl-node-5c73f3bc82526 > .fl-module-content { margin-top:20px; } } .fl-node-5c94fe7f73d06 > .fl-module-content {
	margin-top:30px;
}
@media (max-width: 768px) { .fl-node-5c94fe7f73d06 > .fl-module-content { margin-top:20px; } } .fl-node-5d010a60bc6d4 > .fl-module-content {
	margin-top:30px;
}
@media (max-width: 768px) { .fl-node-5d010a60bc6d4 > .fl-module-content { margin-top:20px; } } .fl-node-5c74fb1189a8c > .fl-module-content {
	margin-top:0px;
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */


/* Start Layout CSS */

/* End Layout CSS */

/* Equal height Column Bottom Alignment */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
          -webkit-box-align: end;
           -webkit-box-pack: end;
              -ms-flex-pack: end;
}

/* H1-H6 Margin Reset in all Modules */
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
    margin: 0;
    clear: both;
}

/* Anchor Tag Css */

.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
    text-decoration: none;
}

/* Row Separator CSS */

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
}

.uabb-top-row-separator {
    top: 0;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: 0;
}

.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
}

@media (max-width: 992px) {

    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: block !important;
    }
}

/*.ult-main-seperator-inner {
    position: relative;
    height: 100%;
    width: 100%
}*/

.fl-responsive-preview-content .fl-builder-content-editing {
    overflow-x: hidden;
    overflow-y: visible;
}

.uabb-row-separator svg {
    width: 100%;
}

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: -1px;
    bottom: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: -1px;
    top: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
    bottom: 0;
}
.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
    top: 0;
}

/**
 *
 *  Svg Triangle Separator
 *  Big Triangle Separator
 *  Big Triangle Left Separator
 *  Svg Half Circle Separator
 *  Curve Center Separator
 *  Waves Separator
 *  Stamp
 *  Grass
 *  Slime
 *  Grass Bend
 *  Wave Slide
 *  Muliple Triangles
 *  Pine Tree
 *  Pine Tree Bend
 *
 ***************************************/
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

/*
 *  Big Triangle
*/
.uabb-bottom-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
       -moz-transform: scale(1) scaleY(-1) translateX(-50%);
        -ms-transform: scale(1) scaleY(-1) translateX(-50%);
         -o-transform: scale(1) scaleY(-1) translateX(-50%);
            transform: scale(1) scaleY(-1) translateX(-50%);
}

.uabb-top-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
       -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
         -o-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
}

/**
 *
 *  Big Triangle Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

/**
 *
 *  Curve Left Separator
 *  Curve Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-curve-up-separator svg {
    left: 50%;
     -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}


/**
 *
 *  Tilt Left Separator
 *  Tilt Right Separator
 *
 ***************************************/

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
    bottom: 0;
}

/**
 *
 *  Clouds Separator
 *  Multi Triangle
 *  Arrow Inward
 *  Arrow Outward
 *
 ***************************************/

.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-multi-triangle svg {
    bottom: -2px;
}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}


/* Buttons
------------------------------------------------------ */

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
    /*background: #fafafa;*/
    /*border: 1px solid #ccc;*/
    /* Need to delete later
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;*/
    /*color: #333;*/
    display: inline-block;
    font-size: 16px;
    /*font-weight: normal;*/
    line-height: 18px;
    /*padding: 12px 24px;*/
    text-decoration: none;
    text-shadow: none;
}
.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {
    /*color: #333;*/
}
.fl-builder-content .uabb-button:hover {
    text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
    display: block;
    text-align: center;
}

.uabb-button-width-custom .uabb-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.fl-builder-content .uabb-button-left {
    text-align: left;
}
.fl-builder-content .uabb-button-center {
    text-align: center;
}
.fl-builder-content .uabb-button-right {
    text-align: right;
}

/*.fl-builder-content .uabb-button i {
    vertical-align: middle;
}*/

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em;
    /*margin-right:8px;*/
}

.uabb-button .uabb-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-button .uabb-button-icon-before {
    margin-left: 0;
    margin-right: 8px;
}
.uabb-button .uabb-button-icon-no-text {
    margin: 0;
}
.uabb-button-has-icon .uabb-button-text {
    vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.uabb-icon-wrap {
    display: inline-block;
}
/*.uabb-icon {
    display: table-cell;
    vertical-align: middle;
}*/
.uabb-icon a {
    text-decoration: none;
}
.uabb-icon i {
    /*float: left;*/
    display: block;
}
.uabb-icon i:before {
    border: none !important;
    background: none !important;
}
.uabb-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}
.uabb-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}
.uabb-icon-text a {
    text-decoration: none;
}

/* Photos
------------------------------------------------------ */

.uabb-photo {
    line-height: 0;
    position: relative;
    z-index: 2;
}
.uabb-photo-align-left {
    text-align: left;
}
.uabb-photo-align-center {
    text-align: center;
}
.uabb-photo-align-right {
    text-align: right;
}
.uabb-photo-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.uabb-photo-content img {
    border-radius: inherit;
    display: inline;
    height: auto;
    max-width: 100%;
    width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.uabb-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uabb-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}
.uabb-photo-caption-hover {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity = 0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition:visibility 200ms linear;
    -moz-transition:visibility 200ms linear;
    transition:visibility 200ms linear;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
    opacity: 100;
    visibility: visible;
    /*filter: alpha(opacity = 100);*/
}

/* Panel & Buttons
------------------------------------------------------ */
.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: white;
}
.fl-builder-bar .fl-builder-add-content-button {
    display: block !important;
    opacity: 1 !important;
}

/* Image Icon Object */
.uabb-imgicon-wrap .uabb-icon {
    display: block;
}
.uabb-imgicon-wrap .uabb-icon i{
    float: none;
}

/* Photo */


.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/* Creative Button
___________________________________________________________________________*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    position: relative;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;

}

.uabb-creative-button-wrap a:focus {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button-wrap a:hover {
    text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
    display: block;
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
    text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
    text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
    font-size: 1.3em;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {
    margin-right: 8px;
    margin-left: 0;
}
.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {
    margin: 0;
}

.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
    vertical-align: middle;
}
.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    padding: 12px 24px;
}

/*  Translate Button styles */

.uabb-creative-button.uabb-creative-transparent-btn {
    background: transparent;
}
.uabb-creative-button.uabb-creative-transparent-btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/* transparent-fill-top, transparent-fill-bottom  */
.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

/* transparent-fill-top */
.uabb-transparent-fill-top-btn:after {
    top: 0;
}
/* transparent-fill-bottom */
.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

/* transparent-fill-left, transparent-fill-right */
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

/* transparent-fill-left */
.uabb-transparent-fill-left-btn:after {
    left: 0;
}
/* transparent-fill-right */
.uabb-transparent-fill-right-btn:after {
    right: 0;
}


/* transparent-fill-center */
.uabb-transparent-fill-center-btn:after{
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/*  transparent-fill-diagonal, transparent-fill-horizontal  */
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

/*  transparent-fill-diagonal */
.uabb-transparent-fill-diagonal-btn{
    overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
       -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
        -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
         -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
            transform: translateX(-50%) translateY(-50%) rotate( 45deg );
}
/* transparent-fill-horizontal */
.uabb-transparent-fill-horizontal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}


/*  3D Button styles */
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

/*a.uabb-creative-threed-btn.uabb-animate_top-btn,
a.uabb-creative-threed-btn.uabb-animate_bottom-btn,
a.uabb-creative-threed-btn.uabb-animate_left-btn,
a.uabb-creative-threed-btn.uabb-animate_right-btn {
    -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
        -ms-transition: all 200ms;
         -o-transition: all 200ms;
            transition: all 200ms;
} */

.perspective {
    -webkit-perspective: 800px;
       -moz-perspective: 800px;
            perspective: 800px;
            margin: 0;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button.uabb-creative-threed-btn {
    /*display: block;*/
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*  3D Button styles --- Animate to top */
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
    height: 40%;
    left: 0;
    top: -40%;
    width: 100%;
    -webkit-transform-origin: 0% 100%;
       -moz-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
}

/*  3D Button styles --- Animate to bottom */
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;

    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}

/*  3D Button styles --- Animate to Left */
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
            transform-origin: 100% 0%;


    -webkit-transform: rotateY(-60deg);
       -moz-transform: rotateY(-60deg);
        -ms-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
}

/*  3D Button styles --- Animate to Right */
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
    width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateY(120deg);
       -moz-transform: rotateY(120deg);
        -ms-transform: rotateY(120deg);
            transform: rotateY(120deg);
}


/* Animate Top */
.uabb-animate_top-btn:hover{
    -webkit-transform: rotateX(-15deg);
       -moz-transform: rotateX(-15deg);
        -ms-transform: rotateX(-15deg);
         -o-transform: rotateX(-15deg);
            transform: rotateX(-15deg);

}

/* Animate Bottom */
.uabb-animate_bottom-btn:hover{
    -webkit-transform: rotateX(15deg);
       -moz-transform: rotateX(15deg);
        -ms-transform: rotateX(15deg);
         -o-transform: rotateX(15deg);
            transform: rotateX(15deg);

}

/* Animate Left */
.uabb-animate_left-btn:hover{
    -webkit-transform: rotateY(6deg);
       -moz-transform: rotateY(6deg);
        -ms-transform: rotateY(6deg);
         -o-transform: rotateY(6deg);
            transform: rotateY(6deg);
}

/* Animate Right */
.uabb-animate_right-btn:hover{
    -webkit-transform: rotateY(-6deg);
       -moz-transform: rotateY(-6deg);
        -ms-transform: rotateY(-6deg);
         -o-transform: rotateY(-6deg);
            transform: rotateY(-6deg);

}




/*  Flat Button styles  */

/*  Common Classes  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
    overflow: hidden;
    position: relative;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

/*  Making Icon position center  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*  Common Hover Classes */
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
    left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
    top: 0;
}


/*  Animate Icon to the right */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
    top: 0;
    left: -100%;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
    -webkit-transform: translateX(200%);
       -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
         -o-transform: translateX(200%);
            transform: translateX(200%);
}

/*  Animate Icon to the left */
.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
    top: 0;
    left: 100%;
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
    -webkit-transform: translateX(-200%);
       -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
         -o-transform: translateX(-200%);
            transform: translateX(-200%);
}


/*  Animate Icon From the Top */
.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
    top: -100%;
    left: 0;
}

/*.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover span {
    -webkit-transform: translateY(500px);
       -moz-transform: translateY(500px);
        -ms-transform: translateY(500px);
         -o-transform: translateY(500px);
            transform: translateY(500px);*/

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
    -webkit-transform: translateY(400px);
       -moz-transform: translateY(400px);
        -ms-transform: translateY(400px);
         -o-transform: translateY(400px);
            transform: translateY(400px);
}

/*  Animate Icon From the Bottom */
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    top: 100%;
    left: 0;
}


/*.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover span {
    -webkit-transform: translateY(-500px);
       -moz-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
         -o-transform: translateY(-500px);
            transform: translateY(-500px);*/

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
    -webkit-transform: translateY(-400px);
       -moz-transform: translateY(-400px);
        -ms-transform: translateY(-400px);
         -o-transform: translateY(-400px);
            transform: translateY(-400px);
}

/* Media/Video CSS */
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode, 
.uabb-tab-acc-content .mejs-container:not(.mejs-audio), 
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode, 
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio), 
.uabb-adv-accordion-content .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {
    padding-top: 56.25%;
}
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode {
    max-width: 100% !important;
}
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
    position: relative;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}
.fl-row-content-wrap .uabb-row-particles-background {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}
.uabb-col-particles-background {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}

/* Theme Button
------------------------------------------------------ */
/*.fl-builder-content a.uabb-button,
.fl-builder-content a.uabb-button:visited,
.fl-builder-content a.uabb-creative-button,
.fl-builder-content a.uabb-creative-button:visited*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
		
	
	
	
	}

.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {
			
	
	
	}


/* Responsive Js Breakpoint Css */

.uabb-js-breakpoint {
	content:"default";
	display:none;
}
@media screen and (max-width: 992px) {
	.uabb-js-breakpoint {
		content:"992";
	}
}

@media screen and (max-width: 768px) {
	.uabb-js-breakpoint {
		content:"768";
	}
}


																															
					
					
					
																
					
					
					
																							
					
					
					
																
					
					
					
																							
					
					
					
																
					
					
					
																																					
					
					
					
																
					
					
					
																
					
					
					
																
					
					
					
																																												
					
					
					
																
					
					
					
												/*Button Css*/.njba-btn-main a.njba-btn{text-decoration: none;position: relative;}.njba-btn-main a:hover, .njba-btn-main a:active, .njba-btn-main a:focus{text-decoration: none;}.njba-btn-main a:active, .njba-btn-main a:focus{outline: none;}.njba-btn-main a.njba-btn:before {    position: absolute;    z-index: -1;    top: 0;    left: 0;    right: 0;    bottom: 0;    -webkit-transition-property: transform;    -moz-transition-property: transform;    -o-transition-property: transform;    -ms-transition-property: transform;    transition-property: transform;    -webkit-transition-timing-function: ease-out;    -moz-transition-timing-function: ease-out;    -o-transition-timing-function: ease-out;    -ms-transition-timing-function: ease-out;    transition-timing-function: ease-out;}/* Row Separator CSS */.njba-row-separator {    position: absolute;    width: 100%;    left: 0;    z-index: 1}.njba-top-row-separator {    top: -1px;    bottom: auto}.njba-bottom-row-separator {    top: auto;    bottom: -1px}/*.ult-main-seperator-inner {    position: relative;    height: 100%;    width: 100%}*/.njba-top-row-separator.njba-has-svg svg {    position: absolute;    padding: 0;    margin: 0;    left: 0;    top: -1px;    bottom: auto;    width: 100%;}.njba-bottom-row-separator.njba-has-svg svg {    position: absolute;    padding: 0;    margin: 0;    left: 0;    bottom: -1px;    top: auto;    width: 100%;}.njba-bottom-row-separator.njba-has-svg .uasvg-wave-separator {    bottom: 0;}.njba-top-row-separator.njba-has-svg .uasvg-wave-separator {    top: 0;}/** * *  Svg Triangle Separator *  Big Triangle Separator *  Big Triangle Left Separator *  Svg Half Circle Separator *  Curve Center Separator *  Waves Separator * ***************************************/.njba-bottom-row-separator.njba-svg-triangle svg,.njba-bottom-row-separator.njba-xlarge-triangle svg,.njba-top-row-separator.njba-xlarge-triangle-left svg,.njba-bottom-row-separator.njba-svg-circle svg,.njba-bottom-row-separator.njba-xlarge-circle svg,.njba-top-row-separator.njba-wave-separator svg {    -webkit-transform: scaleY(-1);       -moz-transform: scaleY(-1);        -ms-transform: scaleY(-1);         -o-transform: scaleY(-1);            transform: scaleY(-1);}/** * *  Big Triangle Right Separator * ***************************************/.njba-top-row-separator.njba-xlarge-triangle-right svg {    -webkit-transform: scale(-1);       -moz-transform: scale(-1);        -ms-transform: scale(-1);         -o-transform: scale(-1);            transform: scale(-1);}.njba-bottom-row-separator.njba-xlarge-triangle-right svg {    -webkit-transform: scaleX(-1);       -moz-transform: scaleX(-1);        -ms-transform: scaleX(-1);         -o-transform: scaleX(-1);            transform: scaleX(-1);}/** * *  Curve Left Separator *  Curve Right Separator * ***************************************/.njba-top-row-separator.njba-curve-up-separator svg {     -webkit-transform: scaleY(-1);       -moz-transform: scaleY(-1);        -ms-transform: scaleY(-1);         -o-transform: scaleY(-1);            transform: scaleY(-1);}.njba-top-row-separator.njba-curve-down-separator svg {    -webkit-transform: scale(-1);       -moz-transform: scale(-1);        -ms-transform: scale(-1);         -o-transform: scale(-1);            transform: scale(-1);}.njba-bottom-row-separator.njba-curve-down-separator svg {    -webkit-transform: scaleX(-1);       -moz-transform: scaleX(-1);        -ms-transform: scaleX(-1);         -o-transform: scaleX(-1);            transform: scaleX(-1);}/** * *  Tilt Left Separator *  Tilt Right Separator * ***************************************/.njba-top-row-separator.njba-tilt-left-separator svg {    -webkit-transform: scale(-1);       -moz-transform: scale(-1);        -ms-transform: scale(-1);         -o-transform: scale(-1);            transform: scale(-1);}.njba-top-row-separator.njba-tilt-right-separator svg{    -webkit-transform: scaleY(-1);       -moz-transform: scaleY(-1);        -ms-transform: scaleY(-1);         -o-transform: scaleY(-1);            transform: scaleY(-1);}.njba-bottom-row-separator.njba-tilt-right-separator svg {    -webkit-transform: scaleX(-1);       -moz-transform: scaleX(-1);        -ms-transform: scaleX(-1);         -o-transform: scaleX(-1);            transform: scaleX(-1);}/** * *  Clouds Separator *  Multi Triangle * ***************************************/.njba-row-separator.njba-cloud-separator svg {    left: -1px;    width: 100%;}.njba-top-row-separator.njba-cloud-separator svg,.njba-top-row-separator.njba-multi-triangle svg {    -webkit-transform: scaleY(-1);       -moz-transform: scaleY(-1);        -ms-transform: scaleY(-1);         -o-transform: scaleY(-1);            transform: scaleY(-1);}.njba-row-separator.njba-round-split {    z-index: 1;    /*position: relative;*/}.njba-row-separator.njba-round-split:after,.njba-row-separator.njba-round-split:before {    left: 0;    z-index: 10;    width: 50%;    background: inherit;    content: '';    position: absolute}.fl-builder-settings-fields input[type=date], .fl-builder-settings-fields input[type=email],.fl-builder-settings-fields input[type=file], .fl-builder-settings-fields input[type=number],.fl-builder-settings-fields input[type=password], .fl-builder-settings-fields input[type=search],.fl-builder-settings-fields input[type=tel], .fl-builder-settings-fields input[type=text],.fl-builder-settings-fields input[type=url], .fl-builder-settings-fields select:not(multiple) {    line-height: initial;    font-weight: normal;}