.fl-node-58b58157a16b3 {
	color: #ffffff;
}
.fl-builder-content .fl-node-58b58157a16b3 *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {
	color: inherit;
}

.fl-builder-content .fl-node-58b58157a16b3 a {
	color: #ffffff;
}

.fl-builder-content .fl-node-58b58157a16b3 a:hover {
	color: #ffffff;
}

.fl-builder-content .fl-node-58b58157a16b3 h1,
.fl-builder-content .fl-node-58b58157a16b3 h2,
.fl-builder-content .fl-node-58b58157a16b3 h3,
.fl-builder-content .fl-node-58b58157a16b3 h4,
.fl-builder-content .fl-node-58b58157a16b3 h5,
.fl-builder-content .fl-node-58b58157a16b3 h6,
.fl-builder-content .fl-node-58b58157a16b3 h1 a,
.fl-builder-content .fl-node-58b58157a16b3 h2 a,
.fl-builder-content .fl-node-58b58157a16b3 h3 a,
.fl-builder-content .fl-node-58b58157a16b3 h4 a,
.fl-builder-content .fl-node-58b58157a16b3 h5 a,
.fl-builder-content .fl-node-58b58157a16b3 h6 a {
	color: #ffffff;
}


.fl-node-58b58157a16b3 > .fl-row-content-wrap {
	background-color: #323232;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
 .fl-node-58b58157a16b3 > .fl-row-content-wrap {
	padding-bottom:50px;
}





.fl-node-5c74e8c976d76.fl-row-fixed-width, .fl-node-5c74e8c976d76 .fl-row-fixed-width {
	max-width: 1100px;
}




.fl-node-5c6565913c0e3 {
	width: 25%;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-5c6565913c0e3 {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-5c6565913c0eb {
	width: 25%;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-5c6565913c0eb {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-5c6565913c0ed {
	width: 25%;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-5c6565913c0ed {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-5c6565913c0ee {
	width: 25%;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-5c6565913c0ee {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-5c74e8c97d2b8 {
	width: 100%;
}




.fl-node-5c98cd134d2f0 {
	width: 26.16%;
}




.fl-node-5c98cd134d2f5 {
	width: 40.51%;
}




.fl-node-5c98cd134d2f7 {
	width: 33.33%;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-5c98cd134d2f7 {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}
.fl-node-58fab44d7e59e.fl-module-heading .fl-heading {
	font-family: Oswald, sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-align: left;
}
 .fl-node-58fab44d7e59e > .fl-module-content {
	margin-bottom:0px;
}
.fl-node-5c754300aa79a.fl-module-heading .fl-heading {
	font-family: Oswald, sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-align: left;
}
 .fl-node-5c754300aa79a > .fl-module-content {
	margin-bottom:0px;
}
.fl-node-5c7543002ee14.fl-module-heading .fl-heading {
	font-family: Oswald, sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-align: left;
}
 .fl-node-5c7543002ee14 > .fl-module-content {
	margin-bottom:0px;
}
.fl-node-5c7542ff18553.fl-module-heading .fl-heading {
	font-family: Oswald, sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-align: left;
}
 .fl-node-5c7542ff18553 > .fl-module-content {
	margin-bottom:0px;
}
@media (max-width: 768px) { .fl-module-icon {
	text-align: center;
}
 }


.fl-node-5c74ddd0cfd5f .fl-module-content .fl-icon i, .fl-node-5c74ddd0cfd5f .fl-module-content .fl-icon i:before {
	font-size: 30px;
}
.fl-node-5c74ddd0cfd5f .fl-module-content .fl-icon-text {
	height: 52.5px;
}
.fl-node-5c74ddd0cfd5f.fl-module-icon {
	text-align: left;
}
.fl-builder-content .fl-node-5c74ddd0cfd5f .fl-module-content .fl-icon-wrap .fl-icon-text, .fl-builder-content .fl-node-5c74ddd0cfd5f .fl-module-content .fl-icon-wrap .fl-icon-text-link * {
	important: 1;
}
 .fl-node-5c74ddd0cfd5f > .fl-module-content {
	margin-top:0px;
	margin-bottom:0px;
}



.fl-node-5c74dce0ae012 .fl-module-content .fl-icon i, .fl-node-5c74dce0ae012 .fl-module-content .fl-icon i:before {
	font-size: 30px;
}
.fl-node-5c74dce0ae012 .fl-module-content .fl-icon-text {
	height: 52.5px;
}
.fl-node-5c74dce0ae012.fl-module-icon {
	text-align: left;
}
.fl-builder-content .fl-node-5c74dce0ae012 .fl-module-content .fl-icon-wrap .fl-icon-text, .fl-builder-content .fl-node-5c74dce0ae012 .fl-module-content .fl-icon-wrap .fl-icon-text-link * {
	important: 1;
}
 .fl-node-5c74dce0ae012 > .fl-module-content {
	margin-top:0px;
	margin-bottom:0px;
}



.fl-node-5c74dc2f6fd38 .fl-module-content .fl-icon i, .fl-node-5c74dc2f6fd38 .fl-module-content .fl-icon i:before {
	font-size: 30px;
}
.fl-node-5c74dc2f6fd38 .fl-module-content .fl-icon-text {
	height: 52.5px;
}
.fl-node-5c74dc2f6fd38.fl-module-icon {
	text-align: left;
}
.fl-builder-content .fl-node-5c74dc2f6fd38 .fl-module-content .fl-icon-wrap .fl-icon-text, .fl-builder-content .fl-node-5c74dc2f6fd38 .fl-module-content .fl-icon-wrap .fl-icon-text-link * {
	important: 1;
}
 .fl-node-5c74dc2f6fd38 > .fl-module-content {
	margin-top:0px;
	margin-bottom:0px;
}
	.fl-builder-content .fl-node-5c7543cb95e97 .fl-module-content .fl-rich-text,
	.fl-builder-content .fl-node-5c7543cb95e97 .fl-module-content .fl-rich-text * {
		color: #767676;
	}
	.fl-builder-content .fl-node-5c7543cb95e97 .fl-rich-text, .fl-builder-content .fl-node-5c7543cb95e97 .fl-rich-text * {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 11px;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-5c7543cb95e97 .fl-rich-text, .fl-builder-content .fl-node-5c7543cb95e97 .fl-rich-text * {
		text-align: center;
	}
}
 .fl-node-5c7543cb95e97 > .fl-module-content {
	margin-top:15px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5c74eb359f5be > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
.fl-menu ul,
.fl-menu li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.fl-menu .menu:before,
.fl-menu .menu:after{
	content: '';
	display: table;
	clear: both;
}

/* Horizontal menus */
.fl-menu li{
	position: relative;
}
.fl-menu a{
	display: block;
	padding: 10px;
	text-decoration: none;
}
.fl-menu a:hover{
	text-decoration: none;
}
.fl-menu .sub-menu{
	min-width: 220px;
}

/* Expanded menus */
.fl-module[data-node] .fl-menu .fl-menu-expanded .sub-menu {
	background-color: transparent;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

/* Submenus */
.fl-menu .fl-has-submenu:focus,
.fl-menu .fl-has-submenu .sub-menu:focus,
.fl-menu .fl-has-submenu-container:focus {
	outline: 0;
}
.fl-menu .fl-has-submenu-container{ position: relative; }
.fl-menu .fl-has-submenu-container a{ padding-right: 38px; }

/* Submenu - accordion, expanded */
.fl-menu .fl-menu-accordion .fl-has-submenu > .sub-menu{
	display: none;
}
.fl-menu .fl-menu-accordion .fl-has-submenu.fl-active .hide-heading > .sub-menu {
	box-shadow: none;
	display: block !important;
}

/* Toggle - General */
.fl-menu .fl-menu-toggle{
	position: absolute;
	top: 50%;
	right: 0;
	cursor: pointer;
}
.fl-menu .fl-toggle-arrows .fl-menu-toggle:before,
.fl-menu .fl-toggle-none .fl-menu-toggle:before{
	border-color: #333;
}
.fl-menu .fl-menu-expanded .fl-menu-toggle{
	display: none;
}

/* Mobile menu - hamburger icon */
.fl-menu .fl-menu-mobile-toggle {
	position: relative;
	padding: 8px;
	background-color: transparent;
	border: none;
	color: #333;
	border-radius: 0;
}
.fl-menu .fl-menu-mobile-toggle.text{
	width: 100%;
	text-align: center;
}
.fl-menu .fl-menu-mobile-toggle.hamburger .fl-menu-mobile-toggle-label,
.fl-menu .fl-menu-mobile-toggle.hamburger-label .fl-menu-mobile-toggle-label{
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.fl-menu .fl-menu-mobile-toggle.hamburger .svg-container,
.fl-menu .fl-menu-mobile-toggle.hamburger-label .svg-container{
	display: inline-block;
	position: relative;
	width: 1.4em;
	height: 1.4em;
	vertical-align: middle;
}
.fl-menu .fl-menu-mobile-toggle.hamburger .hamburger-menu,
.fl-menu .fl-menu-mobile-toggle.hamburger-label .hamburger-menu{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.fl-menu .fl-menu-mobile-toggle.hamburger .hamburger-menu rect,
.fl-menu .fl-menu-mobile-toggle.hamburger-label .hamburger-menu rect{
	fill: currentColor;
}

/* Mega menu general */
li.mega-menu .hide-heading > a,
li.mega-menu .hide-heading > .fl-has-submenu-container,
li.mega-menu-disabled .hide-heading > a,
li.mega-menu-disabled .hide-heading > .fl-has-submenu-container {
	display: none;
}

/* Mega menu for horizontal menus */
ul.fl-menu-horizontal li.mega-menu {
	position: static;
}
ul.fl-menu-horizontal li.mega-menu > ul.sub-menu {
	top: inherit !important;
	left: 0 !important;
	right: 0 !important;
	width: 100%;
}
ul.fl-menu-horizontal li.mega-menu.fl-has-submenu:hover > ul.sub-menu,
ul.fl-menu-horizontal li.mega-menu.fl-has-submenu.focus > ul.sub-menu {
	display: flex !important;
}
ul.fl-menu-horizontal li.mega-menu > ul.sub-menu li {
	border-color: transparent;
}
ul.fl-menu-horizontal li.mega-menu > ul.sub-menu > li {
	width: 100%;
}
ul.fl-menu-horizontal li.mega-menu > ul.sub-menu > li > .fl-has-submenu-container a {
	font-weight: bold;
}
ul.fl-menu-horizontal li.mega-menu > ul.sub-menu > li > .fl-has-submenu-container a:hover {
	background: transparent;
}
ul.fl-menu-horizontal li.mega-menu > ul.sub-menu .fl-menu-toggle {
	display: none;
}
ul.fl-menu-horizontal li.mega-menu > ul.sub-menu ul.sub-menu {
	background: transparent;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	display: block;
	min-width: 0;
	opacity: 1;
	padding: 0;
	position: static;
	visibility: visible;
}

/* Mobile menu - below row clone */
.fl-menu-mobile-clone {
	clear: both;
}
.fl-menu-mobile-clone .fl-menu .menu {
	float: none !important;
}

/* Mobile menu - Flyout */
.fl-menu-mobile-close {
	display: none;
}
.fl-menu-mobile-close,
.fl-menu-mobile-close:hover,
.fl-menu-mobile-close:focus {
	background: none;
	border: 0 none;
	color: inherit;
	font-size: 18px;
	padding: 10px 6px 10px 14px;
}

/* IE Fixes */
.fl-builder-ie-11 .fl-module-menu .fl-menu-horizontal .fl-has-submenu:hover > .sub-menu {
	z-index: 60;
}
.fl-node-5c74eb223c307 .fl-menu .menu {
	}
.fl-node-5c74eb223c307 .menu a{
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 14px;
	padding-bottom: 14px;
}

.fl-builder-content .fl-node-5c74eb223c307 .menu > li > a,
.fl-builder-content .fl-node-5c74eb223c307 .menu > li > .fl-has-submenu-container > a,
.fl-builder-content .fl-node-5c74eb223c307 .sub-menu > li > a,
.fl-builder-content .fl-node-5c74eb223c307 .sub-menu > li > .fl-has-submenu-container > a{
	color: #767676;
	}

	
				.fl-node-5c74eb223c307 .fl-menu .fl-toggle-arrows .fl-menu-toggle:before,
		.fl-node-5c74eb223c307 .fl-menu .fl-toggle-none .fl-menu-toggle:before {
			border-color: #767676;
		}
		
	.fl-node-5c74eb223c307 .menu > li > a:hover,
.fl-node-5c74eb223c307 .menu > li > a:focus,
.fl-node-5c74eb223c307 .menu > li > .fl-has-submenu-container:hover > a,
.fl-node-5c74eb223c307 .menu > li > .fl-has-submenu-container.focus > a,
.fl-node-5c74eb223c307 .sub-menu > li > a:hover,
.fl-node-5c74eb223c307 .sub-menu > li > a:focus,
.fl-node-5c74eb223c307 .sub-menu > li > .fl-has-submenu-container:hover > a,
.fl-node-5c74eb223c307 .sub-menu > li > .fl-has-submenu-container.focus > a,
.fl-node-5c74eb223c307 .menu > li.current-menu-item > a,
.fl-node-5c74eb223c307 .menu > li.current-menu-item > .fl-has-submenu-container > a,
.fl-node-5c74eb223c307 .sub-menu > li.current-menu-item > a,
.fl-node-5c74eb223c307 .sub-menu > li.current-menu-item > .fl-has-submenu-container > a{
	color: #383838;}

				.fl-node-5c74eb223c307 .fl-menu .fl-toggle-arrows .fl-has-submenu-container:hover > .fl-menu-toggle:before,
		.fl-node-5c74eb223c307 .fl-menu .fl-toggle-arrows .fl-has-submenu-container.focus > .fl-menu-toggle:before,
		.fl-node-5c74eb223c307 .fl-menu .fl-toggle-arrows li.current-menu-item >.fl-has-submenu-container > .fl-menu-toggle:before,
		.fl-node-5c74eb223c307 .fl-menu .fl-toggle-none .fl-has-submenu-container:hover > .fl-menu-toggle:before,
		.fl-node-5c74eb223c307 .fl-menu .fl-toggle-none .fl-has-submenu-container.focus > .fl-menu-toggle:before,
		.fl-node-5c74eb223c307 .fl-menu .fl-toggle-none li.current-menu-item >.fl-has-submenu-container > .fl-menu-toggle:before{
			border-color: #383838;
		}
	
		.fl-node-5c74eb223c307 .menu .fl-has-submenu .sub-menu{
		display: none;
	}
	.fl-node-5c74eb223c307 .fl-menu .sub-menu {
	background-color: #ffffff;-webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.1);-ms-box-shadow: 0 1px 20px rgba(0,0,0,0.1);box-shadow: 0 1px 20px rgba(0,0,0,0.1);}
		.fl-node-5c74eb223c307 .fl-menu-horizontal.fl-toggle-arrows .fl-has-submenu-container a{
		padding-right: 28px;
	}
	.fl-node-5c74eb223c307 .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle,
	.fl-node-5c74eb223c307 .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle{
		width: 28px;
		height: 28px;
		margin: -14px 0 0;
	}
	.fl-node-5c74eb223c307 .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle,
	.fl-node-5c74eb223c307 .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle,
	.fl-node-5c74eb223c307 .fl-menu-vertical.fl-toggle-arrows .fl-menu-toggle,
	.fl-node-5c74eb223c307 .fl-menu-vertical.fl-toggle-none .fl-menu-toggle{
		width: 28px;
		height: 28px;
		margin: -14px 0 0;
	}
.fl-node-5c74eb223c307 .fl-menu li{
	border-top: 1px solid transparent;
}
.fl-node-5c74eb223c307 .fl-menu li:first-child{
	border-top: none;
}
	@media ( max-width: 768px ) {

	
	
	
	.fl-menu-horizontal {
		text-align: left;
	}

	.fl-node-5c74eb223c307 .fl-menu .sub-menu {
		background-color: transparent;
		-webkit-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
	}

	.fl-node-5c74eb223c307 .mega-menu.fl-active .hide-heading > .sub-menu,
	.fl-node-5c74eb223c307 .mega-menu-disabled.fl-active .hide-heading > .sub-menu {
		display: block !important;
	}

	} 
	
@media ( min-width: 769px ) {

				.fl-node-5c74eb223c307 .fl-menu .menu > li{ display: inline-block; }

		.fl-node-5c74eb223c307 .menu li{
			border-left: 1px solid transparent;
			border-top: none;
		}

		.fl-node-5c74eb223c307 .menu li:first-child{
			border: none;
		}
		.fl-node-5c74eb223c307 .menu li li{
			border-top: 1px solid transparent;
			border-left: none;
		}

		.fl-node-5c74eb223c307 .menu .fl-has-submenu .sub-menu{
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 10;
			visibility: hidden;
			opacity: 0;
			text-align:left;
		}

		.fl-node-5c74eb223c307 .fl-has-submenu .fl-has-submenu .sub-menu{
			top: 0;
			left: 100%;
		}

			
		
		.fl-node-5c74eb223c307 .fl-menu .fl-has-submenu:hover > .sub-menu,
		.fl-node-5c74eb223c307 .fl-menu .fl-has-submenu.focus > .sub-menu{
			display: block;
			visibility: visible;
			opacity: 1;
		}

		.fl-node-5c74eb223c307 .menu .fl-has-submenu.fl-menu-submenu-right .sub-menu{
			left: inherit;
			right: 0;
		}

		.fl-node-5c74eb223c307 .menu .fl-has-submenu .fl-has-submenu.fl-menu-submenu-right .sub-menu{
			top: 0;
			left: inherit;
			right: 100%;
		}

		.fl-node-5c74eb223c307 .fl-menu .fl-has-submenu.fl-active > .fl-has-submenu-container .fl-menu-toggle{
			-webkit-transform: none;
				-ms-transform: none;
					transform: none;
		}

				
					.fl-node-5c74eb223c307 .fl-menu .fl-menu-toggle{
				display: none;
			}
		
		.fl-node-5c74eb223c307 ul.sub-menu {
						padding-top: 0px;
									padding-right: 0px;
									padding-bottom: 0px;
									padding-left: 0px;
					}

		.fl-node-5c74eb223c307 ul.sub-menu a {
														}

	
	}
	.fl-node-5c74eb223c307 ul.fl-menu-horizontal li.mega-menu > ul.sub-menu > li > .fl-has-submenu-container a:hover {
	color: #767676;
}
.fl-node-5c74eb223c307 .fl-menu .menu, .fl-node-5c74eb223c307 .fl-menu .menu > li {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 11px;
}
.fl-node-5c74eb223c307 .fl-menu {
	text-align: center;
}
.fl-node-5c74eb223c307 .fl-menu .menu {
	float: none;
	display: inline-block;
	vertical-align: top;
}
@media(max-width: 992px) {
	.fl-node-5c74eb223c307 .fl-menu {
		text-align: center;
	}
	.fl-node-5c74eb223c307 .fl-menu .menu {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
}
@media(max-width: 768px) {
	.fl-node-5c74eb223c307 .fl-menu .menu, .fl-node-5c74eb223c307 .fl-menu .menu > li {
		text-align: center;
	}
	.fl-node-5c74eb223c307 .fl-menu {
		text-align: center;
	}
	.fl-node-5c74eb223c307 .fl-menu .menu {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
}
 .fl-node-5c74eb223c307 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */


/* Start Layout CSS */

/* End Layout CSS */

/* Equal height Column Bottom Alignment */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
          -webkit-box-align: end;
           -webkit-box-pack: end;
              -ms-flex-pack: end;
}

/* H1-H6 Margin Reset in all Modules */
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
    margin: 0;
    clear: both;
}

/* Anchor Tag Css */

.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
    text-decoration: none;
}

/* Row Separator CSS */

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
}

.uabb-top-row-separator {
    top: 0;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: 0;
}

.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
}

@media (max-width: 992px) {

    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: block !important;
    }
}

/*.ult-main-seperator-inner {
    position: relative;
    height: 100%;
    width: 100%
}*/

.fl-responsive-preview-content .fl-builder-content-editing {
    overflow-x: hidden;
    overflow-y: visible;
}

.uabb-row-separator svg {
    width: 100%;
}

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: -1px;
    bottom: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: -1px;
    top: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
    bottom: 0;
}
.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
    top: 0;
}

/**
 *
 *  Svg Triangle Separator
 *  Big Triangle Separator
 *  Big Triangle Left Separator
 *  Svg Half Circle Separator
 *  Curve Center Separator
 *  Waves Separator
 *  Stamp
 *  Grass
 *  Slime
 *  Grass Bend
 *  Wave Slide
 *  Muliple Triangles
 *  Pine Tree
 *  Pine Tree Bend
 *
 ***************************************/
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

/*
 *  Big Triangle
*/
.uabb-bottom-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
       -moz-transform: scale(1) scaleY(-1) translateX(-50%);
        -ms-transform: scale(1) scaleY(-1) translateX(-50%);
         -o-transform: scale(1) scaleY(-1) translateX(-50%);
            transform: scale(1) scaleY(-1) translateX(-50%);
}

.uabb-top-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
       -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
         -o-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
}

/**
 *
 *  Big Triangle Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

/**
 *
 *  Curve Left Separator
 *  Curve Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-curve-up-separator svg {
    left: 50%;
     -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}


/**
 *
 *  Tilt Left Separator
 *  Tilt Right Separator
 *
 ***************************************/

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
    bottom: 0;
}

/**
 *
 *  Clouds Separator
 *  Multi Triangle
 *  Arrow Inward
 *  Arrow Outward
 *
 ***************************************/

.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-multi-triangle svg {
    bottom: -2px;
}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}


/* Buttons
------------------------------------------------------ */

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
    /*background: #fafafa;*/
    /*border: 1px solid #ccc;*/
    /* Need to delete later
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;*/
    /*color: #333;*/
    display: inline-block;
    font-size: 16px;
    /*font-weight: normal;*/
    line-height: 18px;
    /*padding: 12px 24px;*/
    text-decoration: none;
    text-shadow: none;
}
.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {
    /*color: #333;*/
}
.fl-builder-content .uabb-button:hover {
    text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
    display: block;
    text-align: center;
}

.uabb-button-width-custom .uabb-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.fl-builder-content .uabb-button-left {
    text-align: left;
}
.fl-builder-content .uabb-button-center {
    text-align: center;
}
.fl-builder-content .uabb-button-right {
    text-align: right;
}

/*.fl-builder-content .uabb-button i {
    vertical-align: middle;
}*/

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em;
    /*margin-right:8px;*/
}

.uabb-button .uabb-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-button .uabb-button-icon-before {
    margin-left: 0;
    margin-right: 8px;
}
.uabb-button .uabb-button-icon-no-text {
    margin: 0;
}
.uabb-button-has-icon .uabb-button-text {
    vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.uabb-icon-wrap {
    display: inline-block;
}
/*.uabb-icon {
    display: table-cell;
    vertical-align: middle;
}*/
.uabb-icon a {
    text-decoration: none;
}
.uabb-icon i {
    /*float: left;*/
    display: block;
}
.uabb-icon i:before {
    border: none !important;
    background: none !important;
}
.uabb-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}
.uabb-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}
.uabb-icon-text a {
    text-decoration: none;
}

/* Photos
------------------------------------------------------ */

.uabb-photo {
    line-height: 0;
    position: relative;
    z-index: 2;
}
.uabb-photo-align-left {
    text-align: left;
}
.uabb-photo-align-center {
    text-align: center;
}
.uabb-photo-align-right {
    text-align: right;
}
.uabb-photo-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.uabb-photo-content img {
    border-radius: inherit;
    display: inline;
    height: auto;
    max-width: 100%;
    width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.uabb-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uabb-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}
.uabb-photo-caption-hover {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity = 0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition:visibility 200ms linear;
    -moz-transition:visibility 200ms linear;
    transition:visibility 200ms linear;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
    opacity: 100;
    visibility: visible;
    /*filter: alpha(opacity = 100);*/
}

/* Panel & Buttons
------------------------------------------------------ */
.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: white;
}
.fl-builder-bar .fl-builder-add-content-button {
    display: block !important;
    opacity: 1 !important;
}

/* Image Icon Object */
.uabb-imgicon-wrap .uabb-icon {
    display: block;
}
.uabb-imgicon-wrap .uabb-icon i{
    float: none;
}

/* Photo */


.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/* Creative Button
___________________________________________________________________________*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    position: relative;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;

}

.uabb-creative-button-wrap a:focus {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button-wrap a:hover {
    text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
    display: block;
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
    text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
    text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
    font-size: 1.3em;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {
    margin-right: 8px;
    margin-left: 0;
}
.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {
    margin: 0;
}

.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
    vertical-align: middle;
}
.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    padding: 12px 24px;
}

/*  Translate Button styles */

.uabb-creative-button.uabb-creative-transparent-btn {
    background: transparent;
}
.uabb-creative-button.uabb-creative-transparent-btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/* transparent-fill-top, transparent-fill-bottom  */
.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

/* transparent-fill-top */
.uabb-transparent-fill-top-btn:after {
    top: 0;
}
/* transparent-fill-bottom */
.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

/* transparent-fill-left, transparent-fill-right */
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

/* transparent-fill-left */
.uabb-transparent-fill-left-btn:after {
    left: 0;
}
/* transparent-fill-right */
.uabb-transparent-fill-right-btn:after {
    right: 0;
}


/* transparent-fill-center */
.uabb-transparent-fill-center-btn:after{
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/*  transparent-fill-diagonal, transparent-fill-horizontal  */
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

/*  transparent-fill-diagonal */
.uabb-transparent-fill-diagonal-btn{
    overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
       -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
        -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
         -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
            transform: translateX(-50%) translateY(-50%) rotate( 45deg );
}
/* transparent-fill-horizontal */
.uabb-transparent-fill-horizontal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}


/*  3D Button styles */
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

/*a.uabb-creative-threed-btn.uabb-animate_top-btn,
a.uabb-creative-threed-btn.uabb-animate_bottom-btn,
a.uabb-creative-threed-btn.uabb-animate_left-btn,
a.uabb-creative-threed-btn.uabb-animate_right-btn {
    -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
        -ms-transition: all 200ms;
         -o-transition: all 200ms;
            transition: all 200ms;
} */

.perspective {
    -webkit-perspective: 800px;
       -moz-perspective: 800px;
            perspective: 800px;
            margin: 0;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button.uabb-creative-threed-btn {
    /*display: block;*/
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*  3D Button styles --- Animate to top */
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
    height: 40%;
    left: 0;
    top: -40%;
    width: 100%;
    -webkit-transform-origin: 0% 100%;
       -moz-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
}

/*  3D Button styles --- Animate to bottom */
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;

    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}

/*  3D Button styles --- Animate to Left */
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
            transform-origin: 100% 0%;


    -webkit-transform: rotateY(-60deg);
       -moz-transform: rotateY(-60deg);
        -ms-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
}

/*  3D Button styles --- Animate to Right */
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
    width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateY(120deg);
       -moz-transform: rotateY(120deg);
        -ms-transform: rotateY(120deg);
            transform: rotateY(120deg);
}


/* Animate Top */
.uabb-animate_top-btn:hover{
    -webkit-transform: rotateX(-15deg);
       -moz-transform: rotateX(-15deg);
        -ms-transform: rotateX(-15deg);
         -o-transform: rotateX(-15deg);
            transform: rotateX(-15deg);

}

/* Animate Bottom */
.uabb-animate_bottom-btn:hover{
    -webkit-transform: rotateX(15deg);
       -moz-transform: rotateX(15deg);
        -ms-transform: rotateX(15deg);
         -o-transform: rotateX(15deg);
            transform: rotateX(15deg);

}

/* Animate Left */
.uabb-animate_left-btn:hover{
    -webkit-transform: rotateY(6deg);
       -moz-transform: rotateY(6deg);
        -ms-transform: rotateY(6deg);
         -o-transform: rotateY(6deg);
            transform: rotateY(6deg);
}

/* Animate Right */
.uabb-animate_right-btn:hover{
    -webkit-transform: rotateY(-6deg);
       -moz-transform: rotateY(-6deg);
        -ms-transform: rotateY(-6deg);
         -o-transform: rotateY(-6deg);
            transform: rotateY(-6deg);

}




/*  Flat Button styles  */

/*  Common Classes  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
    overflow: hidden;
    position: relative;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

/*  Making Icon position center  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*  Common Hover Classes */
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
    left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
    top: 0;
}


/*  Animate Icon to the right */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
    top: 0;
    left: -100%;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
    -webkit-transform: translateX(200%);
       -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
         -o-transform: translateX(200%);
            transform: translateX(200%);
}

/*  Animate Icon to the left */
.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
    top: 0;
    left: 100%;
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
    -webkit-transform: translateX(-200%);
       -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
         -o-transform: translateX(-200%);
            transform: translateX(-200%);
}


/*  Animate Icon From the Top */
.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
    top: -100%;
    left: 0;
}

/*.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover span {
    -webkit-transform: translateY(500px);
       -moz-transform: translateY(500px);
        -ms-transform: translateY(500px);
         -o-transform: translateY(500px);
            transform: translateY(500px);*/

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
    -webkit-transform: translateY(400px);
       -moz-transform: translateY(400px);
        -ms-transform: translateY(400px);
         -o-transform: translateY(400px);
            transform: translateY(400px);
}

/*  Animate Icon From the Bottom */
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    top: 100%;
    left: 0;
}


/*.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover span {
    -webkit-transform: translateY(-500px);
       -moz-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
         -o-transform: translateY(-500px);
            transform: translateY(-500px);*/

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
    -webkit-transform: translateY(-400px);
       -moz-transform: translateY(-400px);
        -ms-transform: translateY(-400px);
         -o-transform: translateY(-400px);
            transform: translateY(-400px);
}

/* Media/Video CSS */
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode, 
.uabb-tab-acc-content .mejs-container:not(.mejs-audio), 
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode, 
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio), 
.uabb-adv-accordion-content .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {
    padding-top: 56.25%;
}
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode {
    max-width: 100% !important;
}
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
    position: relative;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}
.fl-row-content-wrap .uabb-row-particles-background {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}
.uabb-col-particles-background {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}

/* Theme Button
------------------------------------------------------ */
/*.fl-builder-content a.uabb-button,
.fl-builder-content a.uabb-button:visited,
.fl-builder-content a.uabb-creative-button,
.fl-builder-content a.uabb-creative-button:visited*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
		
	
	
	
	}

.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {
			
	
	
	}


/* Responsive Js Breakpoint Css */

.uabb-js-breakpoint {
	content:"default";
	display:none;
}
@media screen and (max-width: 992px) {
	.uabb-js-breakpoint {
		content:"992";
	}
}

@media screen and (max-width: 768px) {
	.uabb-js-breakpoint {
		content:"768";
	}
}


								
					
					
					
																
					
					
					
																
					
					
					
																
					
					
					
																
					
					
					
																														
					
					
					
												/*Button Css*/.njba-btn-main a.njba-btn{text-decoration: none;position: relative;}.njba-btn-main a:hover, .njba-btn-main a:active, .njba-btn-main a:focus{text-decoration: none;}.njba-btn-main a:active, .njba-btn-main a:focus{outline: none;}.njba-btn-main a.njba-btn:before {    position: absolute;    z-index: -1;    top: 0;    left: 0;    right: 0;    bottom: 0;    -webkit-transition-property: transform;    -moz-transition-property: transform;    -o-transition-property: transform;    -ms-transition-property: transform;    transition-property: transform;    -webkit-transition-timing-function: ease-out;    -moz-transition-timing-function: ease-out;    -o-transition-timing-function: ease-out;    -ms-transition-timing-function: ease-out;    transition-timing-function: ease-out;}/* Row Separator CSS */.njba-row-separator {    position: absolute;    width: 100%;    left: 0;    z-index: 1}.njba-top-row-separator {    top: -1px;    bottom: auto}.njba-bottom-row-separator {    top: auto;    bottom: -1px}/*.ult-main-seperator-inner {    position: relative;    height: 100%;    width: 100%}*/.njba-top-row-separator.njba-has-svg svg {    position: absolute;    padding: 0;    margin: 0;    left: 0;    top: -1px;    bottom: auto;    width: 100%;}.njba-bottom-row-separator.njba-has-svg svg {    position: absolute;    padding: 0;    margin: 0;    left: 0;    bottom: -1px;    top: auto;    width: 100%;}.njba-bottom-row-separator.njba-has-svg .uasvg-wave-separator {    bottom: 0;}.njba-top-row-separator.njba-has-svg .uasvg-wave-separator {    top: 0;}/** * *  Svg Triangle Separator *  Big Triangle Separator *  Big Triangle Left Separator *  Svg Half Circle Separator *  Curve Center Separator *  Waves Separator * ***************************************/.njba-bottom-row-separator.njba-svg-triangle svg,.njba-bottom-row-separator.njba-xlarge-triangle svg,.njba-top-row-separator.njba-xlarge-triangle-left svg,.njba-bottom-row-separator.njba-svg-circle svg,.njba-bottom-row-separator.njba-xlarge-circle svg,.njba-top-row-separator.njba-wave-separator svg {    -webkit-transform: scaleY(-1);       -moz-transform: scaleY(-1);        -ms-transform: scaleY(-1);         -o-transform: scaleY(-1);            transform: scaleY(-1);}/** * *  Big Triangle Right Separator * ***************************************/.njba-top-row-separator.njba-xlarge-triangle-right svg {    -webkit-transform: scale(-1);       -moz-transform: scale(-1);        -ms-transform: scale(-1);         -o-transform: scale(-1);            transform: scale(-1);}.njba-bottom-row-separator.njba-xlarge-triangle-right svg {    -webkit-transform: scaleX(-1);       -moz-transform: scaleX(-1);        -ms-transform: scaleX(-1);         -o-transform: scaleX(-1);            transform: scaleX(-1);}/** * *  Curve Left Separator *  Curve Right Separator * ***************************************/.njba-top-row-separator.njba-curve-up-separator svg {     -webkit-transform: scaleY(-1);       -moz-transform: scaleY(-1);        -ms-transform: scaleY(-1);         -o-transform: scaleY(-1);            transform: scaleY(-1);}.njba-top-row-separator.njba-curve-down-separator svg {    -webkit-transform: scale(-1);       -moz-transform: scale(-1);        -ms-transform: scale(-1);         -o-transform: scale(-1);            transform: scale(-1);}.njba-bottom-row-separator.njba-curve-down-separator svg {    -webkit-transform: scaleX(-1);       -moz-transform: scaleX(-1);        -ms-transform: scaleX(-1);         -o-transform: scaleX(-1);            transform: scaleX(-1);}/** * *  Tilt Left Separator *  Tilt Right Separator * ***************************************/.njba-top-row-separator.njba-tilt-left-separator svg {    -webkit-transform: scale(-1);       -moz-transform: scale(-1);        -ms-transform: scale(-1);         -o-transform: scale(-1);            transform: scale(-1);}.njba-top-row-separator.njba-tilt-right-separator svg{    -webkit-transform: scaleY(-1);       -moz-transform: scaleY(-1);        -ms-transform: scaleY(-1);         -o-transform: scaleY(-1);            transform: scaleY(-1);}.njba-bottom-row-separator.njba-tilt-right-separator svg {    -webkit-transform: scaleX(-1);       -moz-transform: scaleX(-1);        -ms-transform: scaleX(-1);         -o-transform: scaleX(-1);            transform: scaleX(-1);}/** * *  Clouds Separator *  Multi Triangle * ***************************************/.njba-row-separator.njba-cloud-separator svg {    left: -1px;    width: 100%;}.njba-top-row-separator.njba-cloud-separator svg,.njba-top-row-separator.njba-multi-triangle svg {    -webkit-transform: scaleY(-1);       -moz-transform: scaleY(-1);        -ms-transform: scaleY(-1);         -o-transform: scaleY(-1);            transform: scaleY(-1);}.njba-row-separator.njba-round-split {    z-index: 1;    /*position: relative;*/}.njba-row-separator.njba-round-split:after,.njba-row-separator.njba-round-split:before {    left: 0;    z-index: 10;    width: 50%;    background: inherit;    content: '';    position: absolute}.fl-builder-settings-fields input[type=date], .fl-builder-settings-fields input[type=email],.fl-builder-settings-fields input[type=file], .fl-builder-settings-fields input[type=number],.fl-builder-settings-fields input[type=password], .fl-builder-settings-fields input[type=search],.fl-builder-settings-fields input[type=tel], .fl-builder-settings-fields input[type=text],.fl-builder-settings-fields input[type=url], .fl-builder-settings-fields select:not(multiple) {    line-height: initial;    font-weight: normal;}